.editor {
    display: flex;
    height: 100%;
}

app-editor-canvas {
    flex-grow: 1;
    padding: 5px;
}

.editor-options {
    width: 300px;
    padding: 5px;
    height: 100%;
    overflow-y: auto;
}

app-editor-section {
    padding: 5px;
    margin-bottom: 6px;
    border: solid 1px grey;
    display: block;
}
app-editor-section.disabled {
    opacity: 50%;
}

.editor-section-title {
    font-weight: bold;
}
.editor-section.disabled .editor-section-title {
    color: rgb(69, 69, 69);
}

.color-from-map {
    display: inline-block;
    width: 75px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 1px;
    color: black;
    cursor:pointer;
}

.tile-type {
    cursor: pointer;
    border: 1px solid transparent;
}
.tile-type:hover, .tile-type.selected {
    font-weight: bold;
    border-color: white;
}

.brush-size {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    margin-bottom: -3px;
}
.brush-size.full {
    background-color:rgb(218, 218, 218);
}
.brush-size:hover {
    background-color:grey;
}

.waypoint {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}