<div class="editor">
    <app-editor-canvas [map]="map"></app-editor-canvas>
    
    <div class="editor-options">
        <div class="editor-section">
            <div class="editor-section-title">Map parameters</div>
            <ng-container *ngIf="!detailsEdit">
                <div class="simple-button"  (click)="detailsEdit = true">Edit</div>
                <br>Title : {{map.title}}
                <br>Width : {{map.map.width}} tiles
                <br>Height : {{map.map.height}} tiles
                <br>Color : {{map.map.backgroundColor}}
            </ng-container>
            <ng-container *ngIf="detailsEdit">
                <br>Title : <input type="text" [value]="map.title" #titleEdit>
                <br>Width : <input type="number" [value]="map.map.width" #widthEdit> tiles
                <br>Height : <input type="number" [value]="map.map.height" #heightEdit> tiles
                <br>Color : <input type="color" [value]="map.map.backgroundColor" #backgroundColor>
                <div class="simple-button" 
                    (click)="detailsEdit = false; editorService.editMapInfos(map, titleEdit.value, +widthEdit.value, +heightEdit.value, backgroundColor.value)"><b>Save</b></div>
            </ng-container>
        </div>
        <div class="editor-section" [ngClass]="{'disabled':editorService.mode == 1}">
            <div class="editor-section-title">Tile color</div>
            <ngx-colors ngx-colors-trigger [(ngModel)]="editorService.selectedColor"></ngx-colors>
            <span class="simple-button" (click)="editorService.computeMapColors(map.map)">Refresh map colors</span> <br>
            <div *ngFor="let color of editorService.mapColors" 
                 [ngStyle]="{'background-color': color}" 
                 class="color-from-map"
                 (click)="editorService.setColor(color)">
                {{color}}
            </div>
        </div>
        <div class="editor-section">
            <div class="editor-section-title">Paint mode</div>
            <div class="cursor-pointer" *ngIf="editorService.mode == 0" (click)="editorService.setMode(1)">> Graphic mode enabled</div>
            <div class="cursor-pointer" *ngIf="editorService.mode == 1" (click)="editorService.setMode(0)">> Physic mode enabled</div>
        </div>
        <div class="editor-section" [ngClass]="{'disabled':editorService.mode == 0}">
            <div class="editor-section-title">Physic tile type</div>
            <div class="tile-type" [ngClass]="{'selected':editorService.selectedPhysicType == 1}" (click)="editorService.setPhysicType(1)">Collision</div>
            <div class="tile-type" [ngClass]="{'selected':editorService.selectedPhysicType == 2}" (click)="editorService.setPhysicType(2)">Death</div>
            <div class="tile-type" [ngClass]="{'selected':editorService.selectedPhysicType == 3}" (click)="editorService.setPhysicType(3)">No Death</div>
        </div>
        <div class="editor-section">
            <div class="editor-section-title">Brush size</div>
            <div *ngFor="let cx of editorService.brushSize; let x = index">
                <div class="brush-size" 
                        *ngFor="let cy of cx; let y = index" 
                        (mousedown)="editorService.toggleBrushSizePixel(x,y)"
                        [ngClass]="{'full':editorService.brushSize[x][y]}"
                        >
                        <!--[ngStyle]="{'background-color': editorService.brushSize[x][y] ? editorService.selectedColor: 'transparent'}"-->
                </div>
            </div>
            <div>Predefined brushes :</div>
            <span class="simple-button" (click)="editorService.setBrushSizeStandard(1)">1x1</span>
            <span class="simple-button" (click)="editorService.setBrushSizeStandard(3)">3x3</span>
            <span class="simple-button" (click)="editorService.setBrushSizeStandard(5)">5x5</span>
            <span class="simple-button" (click)="editorService.setBrushSizeStandard(7)">7x7</span>
            <span class="simple-button" (click)="editorService.setBrushSizeStandard(9)">9x9</span>
        </div>
        <div class="editor-section">
            <div class="editor-section-title">Objects</div>
            <div>Starts :</div>
            <div class="waypoint" *ngFor="let wp of map.map.starts">
                <span class="simple-button" (click)="editorService.removeObjectFromMap(map.map, wp.alias, 1)">X</span>
                {{wp.alias}}
            </div>
            <span class="simple-button" (click)="editorService.setObjectToAdd(1)">Add start</span>
            <div>Ends :</div>
            <div class="waypoint" *ngFor="let wp of map.map.ends">
                <span class="simple-button danger" (click)="editorService.removeObjectFromMap(map.map, wp.alias, 2)">X</span>
                <span class="simple-button" (click)="promptAddLinkToEnd(wp.alias)">Link</span>
                {{wp.alias}}
            </div>
            <span class="simple-button" (click)="editorService.setObjectToAdd(2)">Add end</span>
            <hr>
            <div class="editor-section-title">Links</div>
            {{map.links | json}}
        </div>
        <div class="editor-section">
            <div class="editor-section-title">Debug</div>
            <div class="cursor-pointer" *ngIf="editorService.enableDebug" (click)="editorService.toggleDebug()">> Debug enabled</div>
            <div class="cursor-pointer" *ngIf="!editorService.enableDebug" (click)="editorService.toggleDebug()">> Debug disabled</div>
        </div>
        <div class="editor-section">
            <div class="editor-section-title">Maps</div>
            <div class="simple-button" (click)="mapSelectorDisplay = !mapSelectorDisplay">Open map ...</div>
            <div class="simple-button" (click)="saveMap()">Save map</div>
            <!--<div class="simple-button">Save map & download JSON</div>-->
        </div>
    </div>
</div>

<app-map-selector *ngIf="mapSelectorDisplay" 
    [endAlias]="endAlias" 
    (mapSelected)="selectMap($event)"
    (closed)="mapSelectorDisplay = false; endAlias = ''"
    (endAliasSelected)="addLinkToEnd($event)"
    ></app-map-selector>
